@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
   url("./fonts/Metropolis-Regular.otf") format("truetype");
  }
@font-face {
  font-family: "Metropolis Bold";
  src: local("Metropolis Bold"),
   url("./fonts/Metropolis-SemiBold.otf") format("truetype");
  }
*{
  font-family: 'Metropolis';
}
.tbold{
  font-family: 'Metropolis Bold';
}